In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_excel('../Data/Top 2000 cleaned.xlsx')

In [3]:
df.tail(3)

,Artist,Title,Year,Highest position,1999,2000,2001,2002,2003,2004,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
4427,ZZ & De Maskers,Ik heb genoeg van jou,1965,1102,1241,0,1393,1546,1242,1231,...,0,0,0,0,0,0,0,0,0,0
4428,ZZ & De Maskers,La comparsa,1964,525,0,631,708,854,525,572,...,0,1146,1339,1666,1757,1340,1437,0,0,0
4429,ZZ Top,Legs,1985,1412,0,0,0,0,0,0,...,1416,0,1412,1474,1587,1412,1733,1920,0,0

In [4]:
df.iloc[0, 4:].count()

20

In [5]:
# All the years contain exactly 2000 records
for top_year in df.columns[4:]:
    if (df[top_year] != 0).sum() != 2000:
        print('something wrong with year {}'.format(year))

In [6]:
# Titles are not unique
df['Title'].value_counts().head(3)

Crazy                5
The power of love    4
Hallelujah           4
Name: Title, dtype: int64

In [7]:
# Songs from certain years might be more popular than others
df['Year'].value_counts().head(3)

1967    138
1977    134
1969    129
Name: Year, dtype: int64

In [8]:
# Songs from certain artists might be more popular than others
df['Artist'].value_counts().head(3)

The Beatles           59
The Rolling Stones    46
Queen                 33
Name: Artist, dtype: int64

In [9]:
# the number of songs which, per definition, could not have been in the list all of the times
(df['Year'] > 1999).sum()

901

In [10]:
df['nr_times_in_list'] = df.iloc[:, 4:].astype(bool).sum(axis=1)

In [11]:
# Not sure whether it's sensical to take the mean of the ranking
def mean_place(row):
    '''Function returns the mean of the ranking of the song, 
    taking into account its release year'''
    
    year_produced = row['Year']
    
    if year_produced > 1999:
        result = row[str(year_produced):'2018'].mean()
    else:
        result = row['1999':'2018'].mean()
        
    return round(result, 1)
    
    
df['song_mean_ranking'] = df.apply(mean_place, axis=1)

In [12]:
df.head(4)

,Artist,Title,Year,Highest position,1999,2000,2001,2002,2003,2004,...,2011,2012,2013,2014,2015,2016,2017,2018,nr_times_in_list,song_mean_ranking
0,Queen,Bohemian Rhapsody,1975,1,1,1,1,1,1,1,...,1,1,1,2,2,1,1,1,20,1.2
1,Eagles,Hotel California,1977,1,2,4,3,3,2,2,...,2,2,2,1,3,2,2,2,20,2.3
2,Billy Joel,Piano man,1974,3,121,83,57,58,60,66,...,29,36,18,7,6,4,4,3,20,41.4
3,Led Zeppelin,Stairway to heaven,1971,3,4,3,4,4,4,4,...,5,3,3,3,5,3,3,4,20,4.0